html{
  scroll-behavior:smooth;
}

.app{
  width: 100%;
  background: #BDEEFF;
  font-family: 'Monda', sans-serif;
  display: flex;
  justify-content: space-between;

}

.cabecalho{
  display: flex;
  background-color: #F3F3F3;
  width: 25%;
  margin-right:0;
  padding-left: 10px;
  justify-content: center;
  text-align: center;

}



b{
  color: #1E84D0;
  font-weight: bold;
}
.cursos-lista{
  list-style-type:square;

}
