
.app{
  width: 95%;


  background: #BDEEFF;
  font-family: 'Monda', sans-serif;
  display: flex;
  justify-content: space-between;

}

.cabecalho{
  display: flex;
  background-color: #F3F3F3;
  width: 25%;
  margin-right:0;
  padding-left: 10px;
  justify-content: center;
  text-align: center;



}

.conteudo{
  background-color: #FFFFFF;
  width: 75%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* align-items: center; */
  padding-left: 2rem;
  margin-left: 0;
}



.menu{
  /* background: #055775; */
  display: flex;
  flex-direction: column;
  padding: 2em 1em;




}
.menu-lista{
  list-style-type: none;
  padding-left: 0;


}

.menu-item{
  margin-bottom: 0.6rem;

}

.menu-link{
  text-decoration: none;
  font-size: 1.3rem;
  color:#929292;

}
.menu-link:hover{
  color:#1E84D0;

}
/* .ativo{
  border-bottom: solid 2px #1E84D0;
  color:#1E84D0;

} */

.redes-sociais-caixa{
  display:flex;
  align-content: center;
}



.fa-github, .fa-linkedin-square{
  color:#333;
  margin-left: 0.3em;
}
.fa-github:hover, .fa-linkedin-square:hover{
  color:#1E84D0;
}



.img-alef{
  width: 150px;
  border-radius: 50%;
  /* border: .2rem solid #f3f3f3; */

}

.img-alef:hover{
  padding: 0.1em solid #1E84D0;
}

.sobre{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 1rem;


}

.sobre-email{
  color: #1E84D0;
  text-decoration: none;

}
.sobre-email:hover{
  border-bottom: 2px solid #1E84D0;
}

.sobre h1{
  font-size: 4rem;
  margin-bottom: 0.2rem;
}

.sobre p{
  margin-top: .1em;

}

/* Parte Responsiva */

@media (max-width:600px){
  html{
  }
  .app{
    background: red;
    width: auto;
    display: flex;
    flex-direction:column;
    font-family: 'Monda', sans-serif;

  }


  .cabecalho{
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: center;
    background: #F3F3F3;
  }
  .menu{
    margin-top: 0;
    width: auto;
    display: inline;
    flex-direction: row;
    padding: .5em .5em;

  }
  .titulo-responsivo{
    margin: 0;
    padding-bottom: 0;
  }
  .sub-titulo-responsivo{
    margin: 0;
    padding: .3em;
  }
  .sobre-div{
    display:none;
  }

  .contato-responsivo{
    padding-top: 1em;
    padding-bottom: 0;
    margin-bottom: .1em;
  }


  .menu-lista{
    display: flex;
    justify-content: center;
  }

  .menu-link{
    margin-top: .2em;
    font-size: 1em;
    margin-left: .5em;
    text-transform: uppercase;

  }

  .menu-link:hover{
    color: #929292;

  }

  .redes-sociais-caixa{
    background: darkgrey;
    display: flex;
    flex-direction: row;
  }


  .img-alef{
    display: none;
  }


  .sobre-div h1{
    font-size: 1em;
  }
  .conteudo{
    width: auto;
    display: flex;
    align-content: center;
    text-align: center;
    padding: 1.5em;
  }

  .experiencias-titulo-principal{
    font-size: 1.5em;
  }

  .experiencias-trabalhos h2{
    font-size: 1em;

  }






}

@media (min-width:500px){
  .app{
    background: blue;
  }
}
